<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="<%= url('/css/styles.css') %>">
	<script>
		function selectText() {
		  var copyText = document.getElementById("zoomtext");
		  copyText.select();
		  copyText.setSelectionRange(0, 99999); /*For mobile devices*/
		  document.execCommand("copy");
		  alert("Copied to clipboard");
		  return false;
		}		
	</script>
	<title>LFL Event Helper</title>
</head>
<body>
	<div class="container">
		<h1>LFL Event Helper</h1>
		<p>Paste this into <strong>Registration Mail Settings</strong></p>

		<form>
			<section>
				<textarea id="zoomtext" cols="80" rows="15"><%= @message %></textarea>
			</section>
	
			<section>
				<button onClick="selectText()">Copy Text</button>
			</section>
		</form>
	</div>
</body>
</html>